:root {
  --brandblue: #3d8bc1;
  --brandGray: #555555;
  --brandYellow: #ff9f2c;
  --lightBlue: #f5f9fc;
  --lightGrey: #f5f5f5;
  --lightYellow: #fffaf4;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: var(--brandGray);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-family: "Josefin Sans", sans-serif;
}

.outer-container {
  max-width: 1440px;
  position: relative;
}

.container {
  width: 95%;
  height: 100%;
}

img {
  height: 100%;
  width: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--brandYellow);
}

a:active {
  color: var(--brandblue);
}

button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

button a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
}
button a:hover {
  color: inherit;
}

.primary-btn {
  background-color: var(--brandblue);
  color: var(--white);
}
.primary-btn:hover {
  background-color: var(--brandYellow);
  color: #f5f5f5;
}

.secondary-btn {
  background-color: var(--brandYellow);
  color: var(--white);
}

.secondary-btn:hover {
  background-color: var(--brandblue);
}

.tertiary-btn {
  background-color: var(--lightYellow);
  color: var(--white);
}

.tertiary-btn:hover {
  background-color: var(--brandYellow);
  color: var(--white);
}

/* MOBILE DISPLAY STYLE */

header {
  background-color: var(--black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
}

.logo-bg {
  display: none;
}

.logo {
  height: 30px;
  width: fit-content;
  position: relative;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "fraunces", sans-serif;
}

/*STYLES FOR HOMEPAGE HERO */

.home-hero {
  background-color: var(--lightGrey);
  height: calc(100vh - 80px);
  max-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.copy-text {
  text-align: center;
}

.copy-text h1 {
  font-size: 28px;
  line-height: 52px;
}

.copy-text p {
  font-size: 14px;
  line-height: 28px;
}

.hero-img {
  max-width: 90%;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.hero-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* STYLE FOR MY PAYERSCHOICE CARD SECTION */

.why-pc {
  display: flex;
  justify-content: center;
  padding-block: 50px;
}

.why-pc .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.why-pc-card {
  width: 100%;
  border-block: 4px solid var(--lightGrey);
  border-radius: 10px;
  padding: 25px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 10px;
}

.why-pc-card div {
  height: 40px;
}

.why-pc-card h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.why-pc-card p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}
